* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #111;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 20px 60px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: gold;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: gold;
    letter-spacing: 3px;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("images/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 60px;
    color: #fff;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    margin-bottom: 20px;
}

.hero button {
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 16px;
    background: gold;
    border: none;
    cursor: pointer;
}

/* COLLECTIONS */
.collections {
    padding: 100px 80px;
    text-align: center;
}

.collections h2 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    overflow: hidden;
}

.card img {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover img {
    transform: scale(1.1);
}

.card h3 {
    margin-top: 15px;
    font-size: 20px;
}

/* CRAFT */
.craft {
    display: flex;
    padding: 100px;
    gap: 60px;
}

.craft h2 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
}

.craft img {
    width: 100%;
}

.craft-text p{
    font-size: 1.5rem;
}

/* BRIDAL */
.bridal {
    padding: 100px;
    background: #000;
    color: #fff;
}

.bridal h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

.bridal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bridal-grid img {
    width: 100%;
    transition: transform 0.4s;
}

.bridal-grid img:hover {
    transform: scale(1.08);
}

/* CUSTOM */
.custom {
    padding: 100px;
    text-align: center;
    font-size: medium;
}

.custom h2 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-size: medium;
}

.custom form {
    max-width: 500px;
    margin: auto;
    font-size: small;
}

.custom input, textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    font-size: small;
}

/* TESTIMONIAL */
.testimonials {
    background: #111;
    color: #fff;
    padding: 80px;
    text-align: center;
    font-size: small;
}

/* FOOTER */
footer {
    background: #000;
    color: #aaa;
    padding: 40px;
    text-align: center;
    font-size: small;
}

.socials span {
    margin: 0 10px;
    color: gold;
    font-size: small;
}